WeatherClient/Service References/ForecustWeatherServiceReference/Weather2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherForecust">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentWeather" nillable="true" type="tns:ForeCast" />
      <xs:element minOccurs="0" name="Forecast" nillable="true" type="tns:ArrayOfForeCast" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherForecust" nillable="true" type="tns:WeatherForecust" />
  <xs:complexType name="ForeCast">
    <xs:sequence>
      <xs:element minOccurs="0" name="CloudsValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:Data" />
      <xs:element minOccurs="0" name="Humidity" type="xs:float" />
      <xs:element minOccurs="0" name="Precipitation" nillable="true" type="tns:Precipitation" />
      <xs:element minOccurs="0" name="Pressure" type="xs:float" />
      <xs:element minOccurs="0" name="Temperature" type="xs:float" />
      <xs:element minOccurs="0" name="WindSpeed" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForeCast" nillable="true" type="tns:ForeCast" />
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data" nillable="true" type="tns:Data" />
  <xs:complexType name="Precipitation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Precipitation" nillable="true" type="tns:Precipitation" />
  <xs:complexType name="ArrayOfForeCast">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ForeCast" nillable="true" type="tns:ForeCast" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForeCast" nillable="true" type="tns:ArrayOfForeCast" />
  <xs:complexType name="ForcustItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Forecast" nillable="true" type="tns:ArrayOfForeCast" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForcustItem" nillable="true" type="tns:ForcustItem" />
</xs:schema>